@use 'scss/vars' as *;

.challengeContainer {
  .subjectsContainer {
    padding-top: 84px;

    .subjectContainer {
      font-family: $family-secondary;
      font-weight: bold;
      height: 80px;
      border-radius: 20px;
      border: 1px solid #ededed;
      box-sizing: border-box;
      color: $text-inactive;
      background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
      cursor: pointer;
      position: relative;
      overflow: hidden;
      outline: none;
      transition: 0.4s;

      display: flex;
      align-items: center;
      padding: 0 28px;

      &:focus {
        box-shadow: 0 0 0 0.125em rgba(94, 92, 230, 0.25);
      }

      .name {
        margin-left: 8px;
        font-size: 24px;
      }

      .progressRing {
        width: 44px;
        min-width: 44px;
        height: 44px;
        margin-left: auto;

        > svg {
          overflow: visible;
        }
      }

      &.selected {
        .name,
        .icon::before {
          color: $blue; // fallback for unsupported browsers
          background: $purple-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:hover {
        transform: translateX(20px);
      }
    }
  }

  .questionPackagesContainer {
    height: calc(100vh - #{$navbar-height + 100px});
    overflow: auto;

    .questionLevelContainer {
      background: linear-gradient(180deg, #ffffff 0%, #e5e4fb 100%);
      box-shadow: 0px 4px 20px rgba(235, 235, 235, 0.5);
      border-radius: 20px;
      padding: 28px 28px 0;
      margin: 0 auto;
      min-height: 218px;
      text-align: center;
      .levelContainer {
        font-weight: bold;
        text-align: center;
        color: $grey;
        margin-bottom: 24px;
      }

      .questionPackContainer {
        &:last-child {
          margin-right: 0;
        }
        margin-right: 24px;
        margin-bottom: 24px;
        display: inline-block;
        position: relative;
        border-radius: $card-border-radius;
        background-size: cover;
        background: $white;
        padding: 24px 28px;
        box-shadow: 0px 4px 20px rgba(224, 224, 224, 0.5);
        font-family: $family-secondary;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        outline: none;
        transition: all 0.4s;

        &:hover {
          box-shadow: 0px 4px 8px rgba(211, 209, 209, 0.5);
        }

        &:focus {
          box-shadow: 0 0 0 0.125em rgba(94, 92, 230, 0.25);
        }

        .title {
          color: $blue;
          margin-bottom: 8px;
          text-transform: uppercase;

          span {
            display: inline-block;
            width: 112px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 2;
          }

          &::before {
            width: 180px;
            white-space: normal;
          }
        }

        .packInfo {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0;
        }

        .quantity i::before {
          font-size: 16px;
          color: $orange;
        }

        .coins {
          margin-left: 8px;
          display: flex;
          align-items: center;
        }

        .completedPackage {
          display: inline-block;
          position: absolute;
          top: -16px;
          right: -8px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: $purple-gradient;

          &::before {
            content: '✔';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
          }
        }
      }

      .questionPackContainer.locked {
        &:hover {
          transform: none;
        }

        .locker {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
          border: 1px solid #ededed;
          box-sizing: border-box;
          border-radius: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          i::before {
            color: #9a9a9a;
            font-size: 48px;
          }
        }
      }
    }
  }
}

@media (max-width: 1408px) {
  .challengeContainer {
    .questionPackagesContainer .questionLevelContainer .questionPackContainer {
      padding: 24px 12px;
    }
  }
}

@media (max-width: 1216px) {
  .challengeContainer {
    .subjectsContainer {
      .subjectContainer {
        padding: 0 12px;
      }
    }
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
