@use 'scss/vars'as *;

.answerItem {
  padding: 5px;
  margin-bottom: 20px;

  p {
    color: $grey-darker;
    font-weight: 500;
  }

  .activeButton {
    box-shadow: 0px 4px 20px rgba(87, 114, 247, 0.5);

    &:focus {
      box-shadow: 0px 4px 20px rgba(87, 114, 247, 0.5);
    }

    &:focus:not(:active) {
      box-shadow: 0px 4px 20px rgba(87, 114, 247, 0.5);
    }
  }

  .button {
    background: $blue-light;
    box-shadow: 0px 4px 20px rgba(235, 235, 235, 0.5);
    border-radius: 20px;
    color: $grey-dark;
    font-weight: bold;

    &:active,
    &:focus,
    &:hover {
      color: $grey-dark;
    }

    &:focus:not(:active) {
      color: $grey-dark;
    }
  }

  .answerText {
    outline: none;
    cursor: pointer;
  }
}
