@use 'scss/vars'as *;

.questionItem {
  font-weight: 500;
  font-size: 16px;
}

.preventCopy.preventCopy {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
