@use 'scss/vars' as *;

.card {
  background: $white;
  box-shadow: 0px 4px 20px rgba(224, 224, 224, 0.3);
  border-radius: 20px;
  height: 135px;
  padding: 16px 24px;
}

.meta {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: $text-meta;
}

.difficulty {
  margin-left: -5px;
}

.duration {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;

  i:before {
    font-size: 20px;
  }
}

.totalQuestion {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;

  i:before {
    font-size: 20px;
  }
}

.totalBet {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
}

.participants {
  display: flex;
  align-items: center;
}

.creator {
  display: flex;
  align-items: center;

  span {
    font-family: $family-secondary;
    font-weight: bold;
    font-size: 16px;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
  }
}

.separator {
  width: 32px;
  height: 0;
  border: 1px solid $grey-light;
  transform: rotate(-90deg);
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: $light-gradient;
  color: $blue;
  font-size: 10px;
  font-weight: bold;
}
